.navigation{
	padding-top: 12px;
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 25px;
	padding-left: 25px;
	position: relative;
	background-color: #555E65;
	color: #ffffff;
	height: 50px;
}

.navigation .handleNotifications{
	position: absolute;
	cursor: pointer;
	font-size: 13px;
	padding-top: 3px;
}

.navigation ul.left-menu{
	padding: 0px;
	margin: 0px;
}

.navigation ul.left-menu li {
	display: inline;
	margin-left: 0px;
	margin-right: 10px;
}

.navigation ul.right-menu {
	padding: 0px;
	margin: 0px;
	position: relative;
	padding-right: 40px;
}

.navigation ul.right-menu li {
	display: inline;
	font-size: 13px;
}

.navigation ul.right-menu li.names{
	position: absolute;
	min-width: 100px;
	right: 16px;
	margin-top: 3px;
	cursor: pointer;
}


.navigation ul.right-menu li a{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

.navigation ul.right-menu li a .number{
	font-size: 12px;
	padding-left: 1px;
	padding-right: 1px;
	font-weight: bold;
}

.navigation ul.right-menu li a .ion-android-chat, .navigation ul li a .ion-ios-bell{
	font-size: 20px;
	margin-left: 0px;
}

.navigation ul.right-menu .ion-navicon-round{
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	color: #ffffff;
	margin-top: 0px;
}

.navigation .new-notification{
	color: #F1A73D;
}

.navigation .new-message{
	color: #3CD04B;
}
